/*body {
	background: #13131f
}*/

.signin_container {
	margin-top: 15%;
	padding: 150px;
	background-image: linear-gradient(to top, #6f2f9b 0%, #c5c2c2 100%);
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: 30px;
	color: 'black';
	font-weight: 'normal';
	margin-bottom: 0;
}

h2 {
	font-size: 1.6em;
	font-weight: 'normal';
}